{%- macro object_fields(id, f) %}
	{%- if f.type == 'photo' %}
		{% if f.value %}
			<img src="{{ f.value }}" width="200" />
		{% else %}
			<input type="file" class="form-control-file" name="field--photo--{{ id }}" accept="image/*">
		{% endif %}
	{% elif f.type == 'text' %}
		<input type="text" class="form-control" name="field--text--{{ id }}" value="{{ f.value }}">
	{% elif f.type == 'textarea' %}
		<textarea name="field--text--{{ id }}" class="form-control" rows="10" cols="40">{{ f.value }}</textarea>
	{% elif f.type == 'cross_object' %}
		<select class="form-control" name="field--text--{{ id }}">
			{% for o_id, o_title in f.object_items.items() %}
				<option value="{{ o_id }}" {% if o_id == f.value -%}
						selected="selected"
					{%- endif %}>{{ o_title }}</option>
			{% endfor %}
		</select>
	{% elif f.type == 'wysiwyg' %}
		<textarea class="pages-wysiwyg" name="field--text--{{ id }}" rows="10" cols="40">{{ f.value }}</textarea>
	{% endif %}
{%- endmacro -%}
