<!DOCTYPE html>
<html>
<head>
<title>Default Homepage</title>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

{{ runt_header | safe }}

</head>
<body>

<h1>Option 2 Homepage</h1>
List of pages
<br /><br />
{{ global.major_variable }}
<br /><br />

<ul>
	{% for p in content.page %}
		<li>{{ p.title }}</li>
	{% endfor %}

</ul>
List of blogs
<ul>
	{% for b in content.blog %}
		<li>{{ b.title }}</li>
	{% endfor %}

</ul>

<ol>
	{% if reddit_api %}
		{% for id, r in reddit_api.items() %}
			<li><a href="{{ r.url }}">{{ r.title }}</a></li>
		{% endfor %}
	{% endif %}

</ol>

{{ runt_footer | safe }}

<img src="{{ get_image_size('http://localhost:5000/uploads/2016/04/Nepal_ATTA-6547.jpg', 'small') }}" width="200" />
<img src="http://localhost:5000/uploads/2016/04/Nepal_ATTA-6547.png" width="200" />


</body>
</html>