<!DOCTYPE html>
<html>
<head>
<title>Default Homepage</title>
</head>
<body>
<small>page-blog.html file</small>

<h1>{{ content.object_type | title }}: {{ content.title }}</h1>

<p>{{ content.content | safe }}</p>

{% set featured_image = field_value(content.id, 'featured_photo') %}
{% if featured_image %}
	
	<img src="{{ get_image_size(featured_image, 'medium') }}" />

{% endif %}

{% set detailed_desc = field_value(content.id, 'detailed_desc') %}
{% if detailed_desc %}

	{{ detailed_desc | safe }}

{% endif %}

</body>
</html>