{% extends "admin-base.html" %}

{% block content %}
<nav class="admin-nav fixed">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-inline">
					{% for m, url in admin_menu.items() %}
						<li><a href="{{ url }}">{{ m }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="container-fluid main-content">
	<div class="row">
		<div class="col-xs-12">
			
			<h1>{% if pageheader %}{{ pageheader }}{% else %}Dashboard{% endif %}</h1>

			{% block inner_content %}{% endblock %}

		</div>
	</div>
</div>

{% endblock %}