<!DOCTYPE html>
<html>
<head>

<title>{% block title %}Runt CMS{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename='css/admin.css')}}">
<meta name="robot" content="none">
</head>
<body>

{% block content %}{% endblock %}

<script type="text/javascript">
function stringToSlug(s)
{
	return s
		.toString()
		.toLowerCase()
		.replace(/[^\w ]+/g,'')
		.replace(/ +/g,'-');
}

var formTitle = document.getElementById('add-page-title');
var formSlug = document.getElementById('add-page-slug');

formTitle.onblur = function() {
	formSlug.value = stringToSlug(formTitle.value);	
}

</script>
</body>
</html>