{% extends "admin-main.html" %}

{% block inner_content %}
	<h1>Add New {{ object_type | title }}</h1>
	<form method="POST" action="" id="admin-add-page" enctype="multipart/form-data" >
		{% if error %}{{ error }}{% endif %}

		Title: <input type="text" name="title" id="add-page-title"><br />
		Slug: <input type="text" name="slug" id="add-page-slug"><br />
		Content: <textarea name="content" rows="10" cols="40"></textarea><br />
		
		{% if fields %}
			{% for id, f in fields.items() -%}

				{{ f.name or id }}: 

				{%- if f.type == 'photo' %}
					<input type="file" name="field--photo--{{ id }}" accept="image/*">
				{% elif f.type == 'text' %}
					<input type="text" name="field--text--{{ id }}">
				{% elif f.type == 'textarea' %}
					<textarea name="field--text--{{ id }}" rows="10" cols="40"></textarea>
				{% elif f.type == 'cross_object' %}
					<select name="field--text--{{ id }}">
						{% for o_id, o_title in f.object_items.items() %}
							<option value="{{ o_id }}">{{ o_title }}</option>
						{% endfor %}
					</select>
				{% elif f.type == 'wysiwyg' %}
					<textarea class="pages-wysiwyg" name="field--text--{{ id }}" rows="10" cols="40"></textarea>
				{% endif %}
				<br />

			{% endfor %}
		{% endif %}

		<input type="submit">

	</form>

{% endblock %}