{% extends "main.html" %}

{% block inner_content %}
	<h1>Edit {{ object_type | title }}</h1>
	<a href="/{{ values.id }}" target="_blank">View</a><br />
	<form method="POST" action="" enctype="multipart/form-data" >
		{% if error %}{{ error }}{% endif %}

		Title: <input type="text" name="title" value="{{ values.title }}"><br />
		Slug: <input type="text" name="slug" value="{{ values.slug }}"><br />
		Content: <textarea name="content" rows="10" cols="40">{{ values.content }}</textarea><br />

		{% if fields %}
			{% for id, f in fields.items() -%}

				{{ f.name or id }}: 

				{%- if f.type == 'photo' %}
					{% if f.value != '' %}
						<img src="{{ f.value }}" width="300" />
					{% else %}
						<input type="file" name="field--photo--{{ id }}" accept="image/*">
					{% endif %}

				{% elif f.type == 'text' %}
					<input type="text" name="field--text--{{ id }}" value="{{ f.value }}">
				{% elif f.type == 'textarea' %}
					<textarea name="field--text--{{ id }}" rows="10" cols="40">{{ f.value }}</textarea>
				{% elif f.type == 'cross_object' %}
					<select name="field--text--{{ id }}">
						{% for o_id, o_title in f.object_items.items() %}
							<option value="{{ o_id }}">{{ o_title }}</option>
						{% endfor %}
					</select>
				{% elif f.type == 'wysiwyg' %}
					<textarea class="pages-wysiwyg" name="field--text--{{ id }}" rows="10" cols="40">{{ f.value }}</textarea>
				{% endif %}
				<br />

			{% endfor %}
		{% endif %}

		<input type="submit">

	</form>

{% endblock %}