{% import 'macros/forms.html' as form %}
{% extends "main.html" %}

{% block inner_content %}
	<h1>Edit {{ object_type | title }}</h1>
	<a href="/{{ values.id }}" target="_blank">View</a><br />
	
	<form method="POST" action="" id="admin-edit-page" enctype="multipart/form-data" >
		{% if error %}{{ error }}{% endif %}

		<fieldset class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title" value="{{ values.title }}" id="add-page-title">
		</fieldset>
			
		<fieldset class="form-group">
			<label for="slug">Slug</label>
			<input type="text" class="form-control" name="slug" value="{{ values.slug }}" id="add-page-slug">
		</fieldset>
			
		<fieldset class="form-group">
			<label for="content">Content</label>
			<textarea class="pages-wysiwyg" name="content" rows="10" cols="40">{{ values.content }}</textarea>
		</fieldset>
			
		

		
		{% if fields %}
			{% for id, f in fields.items() -%}
				<fieldset class="form-group">
					<label for="field--photo--{{ id }}">{{ f.name or id }}</label>

					{{ form.object_fields(id, f) }}
					
				</fieldset>
			{% endfor %}
		{% endif %}

		<div class="submit_fixed">
			<input type="submit">
		</div>

	</form>


{% endblock %}