{% extends "main.html" %}

{% block inner_content %}

	<form action="" method="POST">
		{% if settings %}
			{% for id, s in settings.items() %}

				<label for="{{ ext_name + '--' + id }}">{{ s.display_name }}</label>
			
				{% if s.type == 'text' %}
					<input type="text" class="form-control" name="{{ ext_name + '--' + id }}" value="{{ s.value }}"></input>
				{% elif s.type == 'number' %}
					<input type="number" class="form-control" name="{{ ext_name + '--' + id }}" value="{{ s.value }}"></input>
				{% endif %}

				<br />

			{% endfor %}

			<input type="submit"></form>
		{% endif %}
	</form>

{% endblock %}