{% extends "main.html" %}

{% block inner_content %}
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Extension Name</th>
					<th>Author</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% set count = 1 %}
				{% for name, e in extensions.items() %}
					
					<tr>
						<td>{{ e.name or name }}</td>
						<td>{{ e.author }}</td>
						<td>
							{%- if e.active -%}
								<form id="ext_form_{{ count }}" style="display:inline;" method="POST" action="">
									<input type="hidden" name="activation" value="deactivate">
									<input type="hidden" name="ext_name" value="{{ name }}">
									<a href="#" onclick="document.getElementById('ext_form_{{ count }}').submit(); return false;">Deactivate</a>
								</form>
							{%- else -%}
								<form id="ext_form_{{ count }}" style="display:inline;" method="POST" action="">
									<input type="hidden" name="activation" value="activate">
									<input type="hidden" name="ext_name" value="{{ name }}">
									<a href="#" onclick="document.getElementById('ext_form_{{ count }}').submit(); return false;">Activate</a>
								</form>
										
							{%- endif -%}
						</td>
						<td>
							{%- if e.has_settings -%}
								<a href="/admin/extensions/{{ name }}/settings"><span class="glyphicon glyphicon-cog"></span></a>
							{%- endif -%}
						</td>
					</tr>

					<tr>
						<td colspan="3">
							{%- if e.description -%}
								<p>{{ e.description }}</p>
								{%- if e.copyright -%}
									<p><small>{{ e.copyright }}</small></p>
								{%- endif -%}
							{%- elif e.copyright -%}
								<p><small>{{ e.copyright }}</small></p>
							{%- else -%}
								&nbsp;
							{%- endif -%}
						</td>
					</tr>

					{% set count = count + 1 %}
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="text-right">
		<a href="javascript:void(0);" data-toggle="modal" data-target="#extensions-refresh"><span class="glyphicon glyphicon-refresh"></span> Refresh List of Extensions</a>
	</div>

	{% if request.method == 'POST' %}
		<iframe src="/admin/restart_app" width="0" height="0" style="opacity: 0;" id="restart_app"></iframe>
	{% endif %}


{% endblock %}

{% block footer %}

<div id="extensions-refresh" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-body">
				<h3>Warning!</h3>
				<p>This button will restart your Python app. While your site will only be down for a few seconds during the restart, there is a chance that after clicking this link you will get an error page. If you refresh that error page, your site should reload as it normally would. If it does not after about a minute, you will need to restart your Python app manually.</p>

				<p><a href="/admin/extensions/install"><span class="glyphicon glyphicon-refresh"> Refresh Extensions Now</a></p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

		</div>

	</div>
</div>

{% endblock %}