{% extends "main.html" %}

{% block inner_content %}
	<div class="row">
		{% set count = 1 %}
		{% for theme, details in themes.items() %}
			<div class="col-xs-4">
				<p><strong>
				{%- if details['name'] %}
					{{ details['name'] }}
				{% else %}
					{{ theme }}
				{% endif -%}
				</strong>

				{% if details['author'] %}
					<br />by: {{ details['author'] }}
				{% endif %}
				</p>

				{%- if theme != current -%}
					<form id="theme_form_{{ count }}" style="display:inline;" method="POST" action="">
						<input type="hidden" name="theme" value="{{ theme }}">
						<a href="#" onclick="document.getElementById('theme_form_{{ count }}').submit(); return false;">Make Theme</a>
					</form>
				{%- else -%}
					Current
				{%- endif %}
			</div>
			{% set count = count + 1 %}
		{% endfor %}
	</div>
{% endblock %}