@import "bootstrap/bootstrap";

$dark: #3C4C66;
$light: #E7E7E7;
$lighter: #F7F7F0;
$highlight: #F38630;

body {
	background: $light;
	color: $dark;
}

.admin-nav {
	background-color: $dark;
	color: $light;
	ul {
		margin-bottom: 0px;
		li {
			padding-left:0px;
			padding-right: 0px;
			a {
				padding: 5px 15px;
				color: $light;
				display: block;
				&:hover {
					color: $dark;
					background: $light;
					text-decoration: none;
				}
			}
		}
	}
}

.main-content {
	text-shadow: 1px 1px $lighter;
	a {
		color: $highlight;
	}
}